* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-preto: #000;
    --azul-escuro: #001f54ff;
    --azul-normal: #034078ff;
    --azul-claro: #1282a2ff;
    --cor-branco: #fefcfbff;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.hdqwalls.com/download/sea-boat-material-minimal-st-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* CONTAINER */

.container {
    width: 700px;
    height: 400px;
    border: 1px solid var(--cor-preto);
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--cor-preto);
    background-color: var(--cor-branco);
}

/* LOGIN */

.login-container{
    display: flex;
    width: 100%;
    height: 100%;


}
.apresentacao{
    background-color: var(--azul-normal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--cor-branco);
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.apresentacao p{
    padding: 20px;
    text-align: center;

}
.login{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form{
    display: flex;
    flex-direction: column;
}
.login h1{
    padding: 0 50px;
    margin: 30px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--azul-claro);
    
}
.form input{
    padding: 5px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    border: 1px solid var(--azul-claro);

}
 #login-enviar{
    background-color: var(--azul-claro);
    padding: 5px 26px;
    margin: auto;
    border: unset;
    border-radius: 15px;
    color: var(--cor-branco);
    z-index: 1;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
   }
   
   #login-enviar::before {
    color: var(--azul-claro);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--cor-branco);
    z-index: -1;
    transition: all 250ms
   }
   
 #login-enviar:hover {
    color: var(--azul-claro);
    border: 1px solid var(--azul-claro);

   }
   
 #login-enviar:hover::before {
    width: 100%;
   }


/* CAMPEONATO */

.campeonato-informacoes {
    display: flex;
    justify-content: space-around;
    max-width: 958px;
    margin: auto;
}

.premiacoes, .Amador {
    display: flex;
    flex-direction: column;
    color: #001f54ff;
}

.premiacao-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 200px;
    right: 200px;
    color: #034078ff;
}

@media screen and (max-width: 900px) {
    .informacoes {
        flex-wrap: wrap;
    }
}

.topnavbar{
    background-color: #1282a2ff;
    overflow: hidden;
    box-shadow: 0 0 1em #001f54ff;
  }

.topnavbar a {
    border: none;
    background-color: #1282a2ff;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavbar #btnvoltar {
  border: none;
  background-color: #1282a2ff;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 100ms ease-out 100ms;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.topnavbar #btnvoltar:hover {
    background-color: #ddd;
    color: black;
  }

.topnavbar #btnvt{
  border: none;
  background-color: #1282a2ff;
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 100ms ease-out 100ms;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.topnavbar #titulocamp{
    position: absolute;
    left: 570px;
    bottom: 620px;  
    color: white;
    font-size: 25px;
}   

.topnavbar #btnvt:hover {
    background-color: #ddd;
    color: black;
  }

#cadastrarCampeonato{
    border-width: 1px;
    border-radius: 20px;
    background-color: #1282a2ff;
    padding: 10px;
    color: white;
}
#inputNome{
    border: none;
    border-radius: 20px;
    padding: 3px;
}
#inputModalidade{
    border: none;
    border-radius: 20px;
    padding: 3px;
}
#nome{
    color: #034078ff;
}
#nomeModalidades{
    color: #034078ff;
}


/* INFORMAÇÕES*/

.informacoes{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}
.informacoes h1{
    margin-top: 20px;
}
.menu{
    background-color: var(--azul-normal);
    width: 100%;
    border-bottom: 2px solid var(--cor-preto);
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    
      
}
.menuitens{
    color: var(--cor-branco);
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

}
.menuitens:hover{
    color: var(--azul-normal);
    background-color: var(--cor-branco);
}
.menu img{
    width: 60px;
}
.direita{
    display: flex;
    height: 60px;
}
.informacoes-conteiner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 270px;
    align-items: center;

}
#iniciante{
    background-color: var(--cor-branco);
    color: var(--azul-normal);
    padding: 5px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    border: 1px solid var(--cor-branco);

}
#iniciante:hover{
    background-color: var(--azul-normal);
    color: var(--cor-branco);
    border: 1px solid var(--azul-normal);
}
#amador{
    background-color: var(--cor-branco);
    color: var(--azul-normal);
    padding: 5px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    border: 1px solid var(--cor-branco);

}
#amador:hover{
    background-color: var(--azul-normal);
    color: var(--cor-branco);
    border: 1px solid var(--azul-normal);
}
#profissional{
    background-color: var(--cor-branco);
    color: var(--azul-normal);
    padding: 5px;
    margin: 0 0 20px 0;
    border-radius: 20px;
    border: 1px solid var(--cor-branco);

}
#profissional:hover{
    background-color: var(--azul-normal);
    color: var(--cor-branco);
    border: 1px solid var(--azul-normal);
}
.informacoes-span{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.informacoes-span span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.informacoes-span span{
    margin-bottom: 20px;
}
.informacoes-texto{
    width: 70%;
    height: 100%;
}
#iniciante-texto{
    background: linear-gradient(0deg, rgba(3,64,120,1) 0%, rgba(18,130,162,1) 52%, rgba(255,255,255,1) 100%);
    color: var(--cor-branco);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#amador-texto{
    background: linear-gradient(0deg, rgba(0,31,84,1) 0%, rgba(3,64,120,1) 52%, rgba(255,255,255,1) 100%);
    color: var(--cor-branco);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#profissional-texto{
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,31,84,1) 52%, rgba(254,252,251,1) 100%);
    color: var(--cor-branco);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
 