* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-preto: #000;
    --azul-escuro: #001f54ff;
    --azul-normal: #034078ff;
    --azul-claro: #1282a2ff;
    --cor-branco: #fefcfbff;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.hdqwalls.com/download/sea-boat-material-minimal-st-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* CONTAINER */

.container {
    width: 700px;
    height: 400px;
    border: 1px solid var(--cor-preto);
    border-radius: 10px;
    box-shadow: 2px 2px 8px var(--cor-preto);
    background-color: var(--cor-branco);
}

/* LOGIN */

.login-container{
    display: flex;
    width: 100%;
    height: 100%;


}
.apresentacao{
    border-radius: 6px;
    background-color: var(--azul-normal);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--cor-branco);
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
.apresentacao p{
    padding: 20px;
    text-align: center;

}
.login{
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.form{
    display: flex;
    flex-direction: column;
}
.login h1{
    padding: 0 50px;
    margin: 30px 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--azul-claro);
    
}
.form input{
    padding: 5px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    border: 1px solid var(--azul-claro);

}
 #login-enviar{
    background-color: var(--azul-claro);
    padding: 5px 26px;
    margin: auto;
    border: unset;
    border-radius: 15px;
    color: var(--cor-branco);
    z-index: 1;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    border: 1px solid var(--azul-claro);
   }
   
   #login-enviar::before {
    color: var(--azul-claro);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--cor-branco);
    z-index: -1;
    transition: all 250ms
   }
   
 #login-enviar:hover {
    color: var(--azul-claro);
    border: 1px solid var(--azul-claro);

   }
   
 #login-enviar:hover::before {
    width: 100%;
   }


/* CAMPEONATO */

.campeonato-informacoes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 340px;
}

.campeonato-texto {
    height: 240px;
    width: 30%;
    border: 2px solid var(--cor-branco);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: .4s;
}
#inputNome{
    padding: 5px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    border: 1px solid var(--azul-claro);
}
#inputModalidade{
    padding: 5px;
    margin: 0 0 20px 0;
    border-radius: 10px;
    border: 1px solid var(--azul-claro);
}

.campeonato-texto:hover {
    border: 2px solid var(--azul-claro);
    border-radius: 10px;
    transform: scale(1.01);
}

.premiacao-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 60%;
}

#cadastrarCampeonato{
    background-color: var(--azul-claro);
    padding: 5px 26px;
    margin: auto;
    border: unset;
    border-radius: 15px;
    color: var(--cor-branco);
    z-index: 1;
    position: relative;
    transition: all 250ms;
    overflow: hidden;
    border: 1px solid var(--azul-claro);
   }
   
   #cadastrarCampeonato::before {
    color: var(--azul-claro);
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: var(--cor-branco);
    z-index: -1;
    transition: all 250ms
   }
   
 #cadastrarCampeonato:hover {
    color: var(--azul-claro);
    border: 1px solid var(--azul-claro);

   }
   
 #cadastrarCampeonato:hover::before {
    width: 100%;
   }

/* INFORMAÇÕES*/

.informacoes{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.informacoes h1{
    margin-top: 15px;
    color: var(--cor-preto);
    transition: 0.3s;
}
.informacoes h1:hover{
    color: var(--azul-escuro);
}
.menu{
    border-radius: 8px;
    background-color: var(--azul-normal);
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    
      
}
.menuitens{
    color: var(--cor-branco);
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.3s;

}
.menuitens:hover{
    color: var(--azul-normal);
    background-color: var(--cor-branco);
}
#icon{
    width: 50px;
    margin: 10px;
    transition: .3s;
    cursor: pointer;
}
#icon:hover{
    transform: scale(1.1);
}
.direita{
    display: flex;
    height: 60px;
}
.informacoes-conteiner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 270px;
    align-items: center;

}
.informacoes-span{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.informacoes-span span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.informacoes-span span{
    margin-bottom: 20px;
}
.informacoes-texto{
    width: 70%;
    height: 100%;
}
#iniciante-texto{
    border-radius: 20px;
    margin: -15px 10px;
    background: linear-gradient(0deg, rgba(3,64,120,1) 0%, rgba(18,130,162,1) 52%, rgba(255,255,255,1) 100%);
    color: var(--cor-branco);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#amador-texto{
    border-radius: 20px ;
    margin: -15px 10px;
    background: linear-gradient(0deg, rgba(0,31,84,1) 0%, rgba(3,64,120,1) 52%, rgba(255,255,255,1) 100%);
    color: var(--cor-branco);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
#profissional-texto{
    border-radius: 20px;
    margin: -15px 10px;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,31,84,1) 52%, rgba(254,252,251,1) 100%);
    color: var(--cor-branco);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}
 
/* AGENDAMENTO */

.agendamento h1{
    border-radius: 6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: var(--azul-normal);
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#inputNome{
        padding: 5px;
        margin: 0 0 20px 0;
        border-radius: 10px;
        border: 1px solid var(--azul-claro);
}
 #inputEmail{
        padding: 5px;
        margin: 0 0 20px 0;
        border-radius: 10px;
        border: 1px solid var(--azul-claro);
 }
 #inputDate{
        padding: 5px;
        margin: 0 0 20px 0;
        border-radius: 10px;
        border: 1px solid var(--azul-claro);
}
/* DICIONÁRIO */
.dicionario{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.dicionario h1{
    margin-top: 15px;
    color: var(--cor-preto);
    transition: 0.3s;
}
.dicionario h1:hover{
    color: var(--azul-escuro);
}
.dicionario-conteiner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 270px;
    align-items: center;

}
.dicionario-span{
   

    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 20px;
    height: 100%;
    align-items: baseline;
    justify-content: center;
}
.dicionario-span span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.dicionario-span span{
    margin-bottom: 20px;
}
.dicionario-texto{
    width: 70%;
    height: 100%;
}
#cavada-texto{
    border-radius: 20px;
    margin: -15px 10px;
    background: linear-gradient(0deg, rgba(126,168,164,1) 0%, rgba(0,60,84,0.8477766106442577) 15%, rgba(16,47,82,1) 100%);

    color: var(--cor-cinza);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 5px 10px rgb(0, 0, 0) ;
}
#elevador-texto{
    border-radius: 20px;
    margin: -15px 10px;
    background: linear-gradient(0deg, rgba(126,168,164,1) 0%, rgba(0,60,84,0.8477766106442577) 15%, rgba(16,47,82,1) 100%);

    color: var(--cor-preto);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 5px 10px rgb(0, 0, 0);
}
#freesurf-texto{
    border-radius: 20px;
    margin: -15px 10px;
    background: linear-gradient(0deg, rgba(126,168,164,1) 0%, rgba(0,60,84,0.8477766106442577) 15%, rgba(16,47,82,1) 100%);

    color: var(--cor-preto);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 5px 10px rgb(0, 0, 0);
}
#giro-texto{
    border-radius: 20px;
    margin: -15px 10px;
    background: linear-gradient(0deg, rgba(126,168,164,1) 0%, rgba(0,60,84,0.8477766106442577) 15%, rgba(16,47,82,1) 100%);

    color: var(--cor-preto);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    box-shadow: 5px 10px #000000;
}
/* Doações */
.doacao{
    width: 100%;
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}
.doacao h1{
    margin-top: 15px;
    color: var(--cor-preto);
    transition: 0.3s;
}
.doacao h1:hover{
    color: var(--azul-escuro);
}
.doacao-conteiner{
    display: flex;;
    justify-content: space-evenly;
    width: 100%;
    height: 270px;
    align-items: center;

}
.doacao-span{
    display: flex;
    flex-direction: column;
    width: 30%;
    padding-left: 20px;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.doacao-span span:hover{
    text-decoration: underline;
    cursor: pointer;
}
.doacao-span span{
    margin-bottom: 20px;
}

.doacao-texto {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.doacao-img {
    width: 100%;
    height: 100%;
}