.informacoes {
    display: flex;
    justify-content: space-around;
    max-width: 958px;
    margin: auto;
}

.premiacoes, .Amador {
    display: flex;
    flex-direction: column;
}

.premiacao-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .informacoes {
        flex-wrap: wrap;
    }
}

.topnavbar{
    background-color: rgb(7, 9, 165);
    overflow: hidden;
  }

.topnavbar a {
    border: none;
    background-color: rgb(7, 9, 165);
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavbar button {
  border: none;
  background-color: rgb(7, 9, 165);
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnavbar button:hover {
    background-color: #ddd;
    color: black;
  }