body{
    background-image: url("https://images.hdqwalls.com/download/sea-boat-material-minimal-st-1920x1080.jpg");
    background-repeat: no-repeat;
    background-size: 1370px 660px;
}
* {
    margin: 0;
    padding: 0;
}

.campeonato-informacoes {
    display: flex;
    justify-content: space-around;
    max-width: 958px;
    margin: auto;
}

.premiacoes, .Amador {
    display: flex;
    flex-direction: column;
    color: #001f54ff;
}

.premiacao-container {
    width: 400px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 200px;
    right: 200px;
    color: #034078ff;
}

@media screen and (max-width: 900px) {
    .informacoes {
        flex-wrap: wrap;
    }
}

.topnavbar{
    background-color: #1282a2ff;
    overflow: hidden;
    box-shadow: 0 0 1em #001f54ff;
  }

.topnavbar a {
    border: none;
    background-color: #1282a2ff;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnavbar #btnvoltar {
  border: none;
  background-color: #1282a2ff;
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 100ms ease-out 100ms;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.topnavbar #btnvoltar:hover {
    background-color: #ddd;
    color: black;
  }

.topnavbar #btnvt{
  border: none;
  background-color: #1282a2ff;
  float: right;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  transition: background-color 100ms ease-out 100ms;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.topnavbar #titulocamp{
    position: absolute;
    left: 570px;
    bottom: 620px;  
    color: white;
    font-size: 25px;
}   

.topnavbar #btnvt:hover {
    background-color: #ddd;
    color: black;
  }

.informacoes-texto{
    position: absolute;
    top: 200px;
    right: 1000px;
}

#cadastrarCampeonato{
    border-width: 1px;
    border-radius: 20px;
    background-color: #1282a2ff;
    padding: 10px;
    color: white;
}
#inputNome{
    border: none;
    border-radius: 20px;
    padding: 3px;
}
#inputModalidade{
    border: none;
    border-radius: 20px;
    padding: 3px;
}
#nome{
    color: #034078ff;
}
#nomeModalidades{
    color: #034078ff;
}


